<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{site.name}}-{{site.title}}</title>
    {{include './common/meta.html'}}
<body class="bg-f8f8f8">
      <!-- 头部 -->
    {{include './common/header.html'}}

    <!-- 头条文章 -->
    <main class="bg-f2f2f2 pt-10 pb-20 row">

        <div class="main center mt-10 row gap-20">
            <!-- 最新文章 -->
            <article class="article-index">
                <div class="bg-fff radius-6 pd-15 mb-1 f-14 c-999">
                    <i class="ico-20 ico-home pos-r t-3"></i> 
                    <a class="" href="/" >首页</a> /
                    {{each position}}
                        {{if $index < position.length-1}}
                        <a  href="{{$value.path}}/index.html" >{{$value.name}}</a> /
                        {{else}}
                        <a class="c-666" href="{{$value.path}}/index.html" >{{$value.name}}</a>
                        {{/if}}
                    {{/each}}
                </div>

               

                <div class="bg-fff radius-6 pd-25">
                    <header class="border-b pos-r">
                        <h2 class="f-26 c-252933  bold mt-10">「express专题」作者招募第一期｜写小册，领专属礼包+拿长效收益，等你来报名！</h2>
                        <p class="f-12 c-999 mt-5 mb-26">
                            <span>
                                <i class="ico-20 ico-time pos-r t-4"></i> 2018-02-22
                                <i class="ico-20 ico-admin pos-r t-4 ml-4"></i> 明空
                                <i class="ico-20 ico-view pos-r t-5 ml-4"></i> 阅读（19604）
                                <i class="ico-20 ico-zan pos-r t-4 ml-4"></i>点赞（95）
                            </span>
                        </p>
                    </header>
                    <article id="article" class="article-cont f-17 lh-35">
                       
                        <ol start="2">
                            <li><strong>🎤个人影响力</strong>：稀土掘金社区<strong>百万</strong>流量倾斜，给予个人社区帐号及小册更多曝光，帮助创作者个人品牌打造升级，获得稀土掘金线上、线下活动优先合作权。
                            </li>
                            <li><strong>🏅️活动专属奖励</strong>：8月1日～9月15日，成功报名本次活动即可获得 「2 张小册 5
                                折优惠码」，小册成功上线，除稳定的兼职收益外，还可额外获得价值「500 元的奖励礼包」！</li>
                        </ol>
                       

                    </article>

                </div>

                <footer class="pd-25 bg-fff radius-6 mt-1 f-14 c-333">
                    <p>上一篇：<a href="" class="c-666" >脊椎全息图</a></p>
                    <p class="mt-14">下一篇：<a href="" class="c-666" >意守下丹田的奥秘</a></p>
                </footer>

            </article>

            <aside class="flex-1">

                <!-- 最新 -->
                <section class="notices pd-20 mb-20 bg-fff">
                    <h3 class="m-title border-dashed f-16 row justify-between">nodejs最新文章<span class="more">more</span>
                    </h3>
                    <ul class="mt-10">
                        <li class="f-14 pt-4 pb-4 row justify-between"><a href="" title="">js实现拍照试卷给出评分和答案</a></li>
                        <li class="f-14 pt-4 pb-4 row justify-between"><a href="" title="">js把页面转成pdf进行打印</a></li>
                        <li class="f-14 pt-4 pb-4 row justify-between"><a href="" title="">three.js实现展馆演示厅</a></li>
                        <li class="f-14 pt-4 pb-4 row justify-between"><a href="" title="">pixi.js小游戏开发实战经验</a></li>
                        <li class="f-14 pt-4 pb-4 row justify-between"><a href="" title="">基于nodejs实现tts文本转语音</a></li>
                        <li class="f-14 pt-4 pb-4 row justify-between"><a href=""
                                title="">js识别声音判断琴谱是否正确，并跟随琴声绘制修改琴谱背景颜色，给出评分和纠错提示</a></li>
                        <li class="f-14 pt-4 pb-4 row justify-between"><a href="" title="">用canvas+websoket实时绘制心电图实战</a>
                        </li>
                    </ul>
                </section>


                <!-- 图文 热门 -->
                <section class="notices pd-20 mb-20 bg-fff">
                    <h3 class="m-title border-dashed f-16 row justify-between">推荐图文</h3>
                    <figure class="row justify-between mt-10 border-dashed">
                        <div class="thumb mb-10"><img class="w-p100" src="./img/02.jpg" alt="" title=""></div>
                        <div class="flex-1  mb-20">
                            <figcaption class="f-14 ellips-2 bold mt-4 mb-4">JavaScript权威指南</figcaption>
                        </div>
                    </figure>

                    <figure class="row justify-between mt-10 ">
                        <div class="flex-1">
                            <figcaption class="f-14 ellips-2 bold mt-4 mb-4">nodejs实战cms系统开发</figcaption>
                            <p class="f-13 ellips-3"> 近日，因台风“杜苏芮”影响，北京市发布暴雨红色预警。对于雷雨天气，这些“陷阱”要避开！<a href="/"
                                    title="">详情</a></p>
                        </div>
                    </figure>
                </section>

                <section class="ad mb-20">
                    <img src="./img/12.jpg" class="w-p100" alt="">
                </section>

                <!-- tag标签 -->
                <section class="notices pd-20 mb-20 bg-fff">
                    <h3 class="m-title border-dashed f-16 row justify-between">tag标签</h3>
                    <p class="mt-10">
                        <a class="el-tag mr-5 mb-5" href="/">nodejs</a>
                        <a class="el-tag mr-5 mb-5" href="/">express</a>
                        <a class="el-tag mr-5 mb-5" href="/">mysql</a>
                        <a class="el-tag mr-5 mb-5" href="/">vue</a>
                        <a class="el-tag mr-5 mb-5" href="/">react</a>
                        <a class="el-tag mr-5 mb-5" href="/">javascript</a>
                        <a class="el-tag mr-5 mb-5" href="/">go</a>
                        <a class="el-tag mr-5 mb-5" href="/">java</a>
                        <a class="el-tag mr-5 mb-5" href="/">python</a>
                        <a class="el-tag mr-5 mb-5" href="/">css</a>
                        <a class="el-tag mr-5 mb-5" href="/">threejs</a>
                        <a class="el-tag mr-5 mb-5" href="/">pixi.js</a>
                        <a class="el-tag mr-5 mb-5" href="/">electron</a>
                    </p>
                </section>

                <section class="notices pd-20 mb-20 bg-fff pos-s" style="top:80px;z-index: 2;">
                    <h3 class="m-title border-dashed f-16 row justify-between">目录</h3>
                    <div class="mt-10" id="article-outline">
                    </div>
                </section>
            </aside>

        </div>
    </main>

   <!-- footer -->
   {{include './common/footer.html'}}

    
   <div class="tags mb-20 mt-20 pd-20 bg-f2f2f2">
       <h1>接口页面--全局数据：</h1>
       <p class="mb-20">site-> {{site}} </p>
       <p class="mb-20">111-->{{site.json.siteSubtitle}}</p>
       <p class="mb-20">nav-> {{nav}} </p>
       <p class="mb-20">category-> {{category}}</p>
       <p class="mb-20">friendlink-> {{friendlink}}</p>
       <p class="mb-20">base_url-> {{base_url}}</p>
       <p class="mb-20">frag--->{{frag}}</p>
       <p class="mb-20">tag--->{{tag}}</p>

       <p class="mb-20">-----------</p>
       <p class="mb-20">position------>{{position}}</p>
       <p class="mb-20">navSub------>{{navSub}}</p>
       <p class="mb-20">data------>{{data}}</p>
       <p class="mb-20">recommend------>{{recommend}}</p>
       <p class="mb-20">hot------>{{hot}}</p>
       <p class="mb-20">imgs------>{{imgs}}</p>
      
   </div>

    <div id="app">
        <el-drawer v-model="drawer" :show-close="false" :with-header="false" :before-close="handleClose">
            {{include './common/wap-nav.html'}}
        </el-drawer>
        <el-backtop :right="100" :bottom="100" />
    </div>

    {{include './common/js.html'}}
    <script src="{{base_url}}/js/katelog.min.js"></script>

    <script>
        const app = Vue.createApp({
            data: function () {
                return {
                    drawer: false,
                    total: 10
                }
            },
            mounted() {
                let _this = this;
                document.querySelector('.ico-open').addEventListener('click', () => {
                    _this.drawer = true
                })
            },
            methods: {
                handleCurrentChange(vue) {

                },
                handleClose() {
                    this.drawer = false
                }
            }
        });
        app.use(ElementPlus);
        app.mount('#app');

        const katelogIns = new katelog({
            contentEl: 'article',
            catelogEl: 'article-outline',
            linkClass: 'k-catelog-link',
            linkActiveClass: 'k-catelog-link-active',
            selector: ['h2', 'h3', 'h4', 'h5', 'h6'],
            supplyTop: 20,
            active: function (el) {
            }
        });

    // const html = '<h2>动态添加的标题</h2>'
    // katelogIns.contentEl.insertAdjacentHTML('afterBegin', html);
    // katelogIns.rebuild();
    </script>

</body>

</html>