<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>前端开发-禅悦内容管理系统</title>
    {{include './common/meta.html'}}
</head>

<body>
    <!-- 头部 -->
    {{include './common/header.html'}}

    <!-- 头条文章 -->
    <main class="bg-f2f2f2 pt-10 pb-20 row">
        <div class="main center mt-10 row gap-20">
            <!-- 最新文章 -->
            <article class="article-index">
                <section class="row justify-between gap-10  mb-20" id="app">
                    <el-carousel :interval="5000" arrow="always" >
                        <el-carousel-item>
                            <img src="{{base_url}}/img/11.jpg" alt="">
                            <h3 class="carousel-title">1</h3>
                        </el-carousel-item>
                        <el-carousel-item>
                            <img src="{{base_url}}/img/12.jpg" alt="">
                            <h3 class="carousel-title">2</h3>
                        </el-carousel-item>
                        <el-carousel-item>
                            <img src="{{base_url}}/img/13.jpg" alt="">
                            <h3>3</h3>
                        </el-carousel-item>
                        <el-carousel-item>
                            <img src="{{base_url}}/img/14.jpg" alt="">
                            <h3>4</h3>
                        </el-carousel-item>
                        <el-carousel-item>
                            <img src="{{base_url}}/img/15.jpg" alt="">
                            <h3>4</h3>
                        </el-carousel-item>
                    </el-carousel>
                    <el-drawer v-model="drawer" :show-close="false" :with-header="false" :before-close="handleClose">
                        <div class="search mb-20">
                            <div class="el-input  el-input--prefix ">
                                <div class="el-input__wrapper" role="button">
                                    <span class="el-input__prefix">
                                        <span class="el-input__prefix-inner">
                                            <i class="el-icon el-input__icon">
                                                <svg viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill="currentColor"
                                                        d="m795.904 750.72 124.992 124.928a32 32 0 0 1-45.248 45.248L750.656 795.904a416 416 0 1 1 45.248-45.248zM480 832a352 352 0 1 0 0-704 352 352 0 0 0 0 704z">
                                                    </path>
                                                </svg>
                                            </i>
                                        </span>
                                    </span>
                                    <input class="el-input__inner" type="text" autocomplete="off" placeholder="搜索点什么">
                                </div>
                                <!-- <el-button class="ml-5">搜索</el-button> -->
                            </div>
                        </div>
                        <ul class="f-16">
                            <li><a class="pt-5 pb-5 block" href="/" target="_blank" title="首页">首页</a></li>
                            <li>
                                <a class="pt-5 pb-5 block" href="/" target="_blank" title="首页">前端开发</a>
                                <ul class="pl-16">
                                    <li><a class="pt-5 pb-5 block" href="/" target="_blank">vue</a></li>
                                    <li><a class="pt-5 pb-5 block" href="/" target="_blank">react</a></li>
                                    <li><a class="pt-5 pb-5 block" href="/" target="_blank">javascript</a></li>
                                    <li><a class="pt-5 pb-5 block" href="/" target="_blank">css</a></li>
                                </ul>
                            </li>
                            <li>
                                <a class="pt-5 pb-5 block" href="/" target="_blank" title="首页">node开发</a>
                                <ul class="pl-16">
                                    <li><a class="pt-5 pb-5 block" href="/" target="_blank">express</a></li>
                                    <li><a class="pt-5 pb-5 block" href="/" target="_blank">mysql</a></li>
                                    <li><a class="pt-5 pb-5 block" href="/" target="_blank">服务器</a></li>
                                </ul>
                            <li><a class="pt-5 pb-5 block" href="/" target="_blank" title="首页">SEO</a></li>
                            <li><a class="pt-5 pb-5 block" href="/" target="_blank" title="首页">前端库</a></li>
                            <li><a class="pt-5 pb-5 block" href="/" target="_blank" title="首页">禅悦cms</a></li>
                            <li><a class="pt-5 pb-5 block" href="/" target="_blank" title="首页">案例</a></li>
                            <li><a class="pt-5 pb-5 block" href="/" target="_blank" title="首页">关于</a></li>
                        </ul>
                    </el-drawer>
                    <div class="w-520 h-290 bg-fff pd-20">
                        <div class="row justify-between">
                            <h2 class="f-16 ellips-2 c-1a1a1a">「头条」js实现识别声音判断琴谱是否正确，并跟随琴声绘制修改琴谱背景颜色，给出评分和纠错提示</h2>
                            <p class="f-14  ellips-3  mb-10 mt-10">
                                首先要通过canvas来绘制琴谱，收集钢琴声音通过算法实时判断是否正确，并再五线谱上面标注是否正确，和进度，算法需用js写超玄定理和八卦预测方程来实现。<a
                                    class="c-003a8c" href="/" title="">详情</a>
                            </p>
                        </div>
                        <ul class="w-460-list">
                            <li class="f-14 pt-4 pb-4 row justify-between">
                                <a href="" title="">「最新」雷雨天这些“陷阱”要避开</a><time class="c-999">1分钟</time>
                            </li>
                            <li class="f-14 pt-4 pb-4 row justify-between">
                                <a href="" title="">「最新」雷雨天这些“陷阱”要避开避开</a>
                                <time class="c-999">半小时前</time>
                            </li>
                            <li class="f-14 pt-4 pb-4 row justify-between">
                                <a href="" title="">「最新」雷雨天这些“陷阱”要避开</a>
                                <time class="c-999">1天前</time>
                            </li>
                            <li class="f-14 pt-4 pb-4 row justify-between">
                                <a href="" title="">「最新」雷雨天这些“陷阱”要避开</a><time class="c-999">1月前</time>
                            </li>
                        </ul>
                    </div>
                    <el-backtop :right="100" :bottom="100" />
                </section>
                <section class="row justify-between gap-10">
                    <div class="w-460 bg-fff pd-20">
                        <h3 class="m-title f-16 row justify-between border-dashed mb-10">nodejs开发<span
                                class="more">热榜</span></h3>
                        <figure class="row justify-between">
                            <div class="thumb-120">
                                <img class="w-p100" src="{{base_url}}/img/01.jpg" alt="" title="">
                            </div>
                            <div class="flex-1">
                                <figcaption class="f-14 ellips-2 bold mb-4">雷雨天这些“陷阱”要避开</figcaption>
                                <p class="f-13 ellips-3">
                                    近日，因台风“杜苏芮”影响，北京市发布暴雨红色预警。对于雷雨天气，这些“陷阱”要避开！<a href="/" title="">详情</a></p>
                            </div>
                        </figure>
                        <ul class="w-460-list mt-16">
                            <li class="f-14 pt-4 pb-4 row justify-between"><a href="" title="">雷雨天这些“陷阱”要避开</a><time
                                    class="c-999">1分钟</time></li>
                            <li class="f-14 pt-4 pb-4 row justify-between"><a href="" title="">雷雨天这些“陷阱”要避开避开</a><time
                                    class="c-999">1分钟</time></li>
                            <li class="f-14 pt-4 pb-4 row justify-between"><a href="" title="">雷雨天这些“陷阱”要避开</a><time
                                    class="c-999">1分钟</time></li>
                            <li class="f-14 pt-4 pb-4 row justify-between"><a href="" title="">雷雨天这些“陷阱”要避开</a><time
                                    class="c-999">1天前</time></li>
                        </ul>
                        <p class="mt-10">
                            <a class="el-tag mr-5" href="/">nodejs</a>
                            <a class="el-tag mr-5" href="/">express</a>
                            <a class="el-tag mr-5" href="/">mysql</a>
                        </p>
                    </div>

                    <div class="w-460 bg-fff pd-20">
                        <h3 class="m-title f-16 row justify-between border-dashed mb-10">搜索引擎SEO<span
                                class="more">更多</span></h3>
                        <figure class="row justify-between">
                            <div class="thumb-120">
                                <img class="w-p100" src="{{base_url}}/img/02.jpg" alt="" title="">
                            </div>
                            <div class="flex-1">
                                <figcaption class="f-14 ellips-2 bold mb-4">雷雨天这些“陷阱”要避开</figcaption>
                                <p class="f-13 ellips-3">
                                    近日，因台风“杜苏芮”影响，北京市发布暴雨红色预警。对于雷雨天气，这些“陷阱”要避开！<a href="/" title="">详情</a></p>
                            </div>
                        </figure>
                        <ul class="w-460-list mt-16">
                            <li class="f-14 pt-4 pb-4 row justify-between"><a href="" title="">雷雨天这些“陷阱”要避开</a><time
                                    class="c-999">1分钟</time></li>
                            <li class="f-14 pt-4 pb-4 row justify-between"><a href="" title="">雷雨天这些“陷阱”要避开避开</a><time
                                    class="c-999">1分钟</time></li>
                            <li class="f-14 pt-4 pb-4 row justify-between"><a href="" title="">雷雨天这些“陷阱”要避开</a><time
                                    class="c-999">1分钟</time></li>
                            <li class="f-14 pt-4 pb-4 row justify-between"><a href="" title="">雷雨天这些“陷阱”要避开</a><time
                                    class="c-999">1天前</time></li>
                        </ul>
                        <p class="mt-10">
                            <a class="el-tag mr-5" href="/">nodejs</a>
                            <a class="el-tag mr-5" href="/">express</a>
                            <a class="el-tag mr-5" href="/">mysql</a>
                        </p>
                    </div>

                    <div class="w-460 bg-fff pd-20">
                        <h3 class="m-title f-16 row justify-between border-dashed mb-10">前端库&工具<span
                                class="more">热榜</span></h3>
                        <figure class="row justify-between">
                            <div class="thumb-120">
                                <img class="w-p100" src="{{base_url}}/img/03.jpg" alt="" title="">
                            </div>
                            <div class="flex-1">
                                <figcaption class="f-14 ellips-2 bold mb-4">雷雨天这些“陷阱”要避开</figcaption>
                                <p class="f-13 ellips-3">
                                    近日，因台风“杜苏芮”影响，北京市发布暴雨红色预警。对于雷雨天气，这些“陷阱”要避开！<a href="/" title="">详情</a></p>
                            </div>
                        </figure>
                        <ul class="w-460-list mt-16">
                            <li class="f-14 pt-4 pb-4 row justify-between"><a href="" title="">雷雨天这些“陷阱”要避开</a><time
                                    class="c-999">1分钟</time></li>
                            <li class="f-14 pt-4 pb-4 row justify-between"><a href="" title="">雷雨天这些“陷阱”要避开避开</a><time
                                    class="c-999">1分钟</time></li>
                            <li class="f-14 pt-4 pb-4 row justify-between"><a href="" title="">雷雨天这些“陷阱”要避开</a><time
                                    class="c-999">1分钟</time></li>
                            <li class="f-14 pt-4 pb-4 row justify-between"><a href="" title="">雷雨天这些“陷阱”要避开</a><time
                                    class="c-999">1天前</time></li>
                        </ul>
                        <p class="mt-10">
                            <a class="el-tag mr-5" href="/">nodejs</a>
                            <a class="el-tag mr-5" href="/">express</a>
                            <a class="el-tag mr-5" href="/">mysql</a>
                        </p>
                    </div>

                    <div class="w-460 bg-fff pd-20">
                        <h3 class="m-title f-16 row justify-between border-dashed mb-10">前端开发<span
                                class="more">热榜</span></h3>
                        <figure class="row justify-between">
                            <div class="thumb-120">
                                <img class="w-p100" src="{{base_url}}/img/03.jpg" alt="" title="">
                            </div>
                            <div class="flex-1">
                                <figcaption class="f-14 ellips-2 bold mb-4">雷雨天这些“陷阱”要避开</figcaption>
                                <p class="f-13 ellips-3">
                                    近日，因台风“杜苏芮”影响，北京市发布暴雨红色预警。对于雷雨天气，这些“陷阱”要避开！<a href="/" title="">详情</a></p>
                            </div>
                        </figure>
                        <ul class="w-460-list mt-16">
                            <li class="f-14 pt-4 pb-4 row justify-between"><a href="" title="">雷雨天这些“陷阱”要避开</a><time
                                    class="c-999">1分钟</time></li>
                            <li class="f-14 pt-4 pb-4 row justify-between"><a href="" title="">雷雨天这些“陷阱”要避开避开</a><time
                                    class="c-999">1分钟</time></li>
                            <li class="f-14 pt-4 pb-4 row justify-between"><a href="" title="">雷雨天这些“陷阱”要避开</a><time
                                    class="c-999">1分钟</time></li>
                            <li class="f-14 pt-4 pb-4 row justify-between"><a href="" title="">雷雨天这些“陷阱”要避开</a><time
                                    class="c-999">1天前</time></li>
                        </ul>
                        <p class="mt-10">
                            <a class="el-tag mr-5" href="/">nodejs</a>
                            <a class="el-tag mr-5" href="/">express</a>
                            <a class="el-tag mr-5" href="/">mysql</a>
                        </p>
                    </div>

                    <!-- 书籍/图片/视频 pdf -->
                    <section class="mt-10">
                        <h3 class="m-title title-dashed f-16 row justify-between">javascript书籍<span
                                class="more">热榜</span></h3>
                        <div class="row gap-2">
                            <figure class="books-item  f-14  pd-16 bg-fff">
                                <a class="m-img" href="" title="">
                                    <img src="{{base_url}}/img/06.jpg" alt="" /></a>
                                <figcaption class="mt-6 mb-6">
                                    <a href="/" title="">javascript权威指南</a>
                                </figcaption>
                            </figure>

                            <figure class="books-item  f-14 pd-16 bg-fff">
                                <a class="m-img" href="" title="">
                                    <img src="{{base_url}}/img/05.jpg" alt="" /></a>
                                <figcaption class="mt-6 mb-6">
                                    <a href="/" title="">javascript权威指南，从入门到精通，入门到放弃</a>
                                </figcaption>
                            </figure>

                            <figure class="books-item  f-14 pd-16 bg-fff">
                                <a class="m-img" href="" title="">
                                    <img src="{{base_url}}/img/04.jpg" alt="" /></a>
                                <figcaption class="mt-6 mb-6">
                                    <a href="/" title="">javascript权威指南</a>
                                </figcaption>
                            </figure>

                            <figure class="books-item  f-14 pd-16 bg-fff">
                                <a class="m-img" href="" title="">
                                    <img src="{{base_url}}/img/02.jpg" alt="" /></a>
                                <figcaption class="mt-6 mb-6">
                                    <a href="/" title="">javascript权威指南</a>
                                </figcaption>
                            </figure>

                            <figure class="books-item  f-14 pd-16 bg-fff">
                                <a class="m-img" href="" title="">
                                    <img src="{{base_url}}/img/03.jpg" alt="" /></a>
                                <figcaption class="mt-6 mb-6">
                                    <a href="/" title="">javascript权威指南</a>
                                </figcaption>
                            </figure>

                            <figure class="books-item  f-14 pd-16 bg-fff">
                                <a class="m-img" href="" title="">
                                    <img src="{{base_url}}/img/09.jpg" alt="" /></a>
                                <figcaption class="mt-6 mb-6">
                                    <a href="/" title="">javascript权威指南</a>
                                </figcaption>
                            </figure>

                            <figure class="books-item  f-14 pd-16 bg-fff">
                                <a class="m-img" href="" title="">
                                    <img src="{{base_url}}/img/08.jpg" alt="" /></a>
                                <figcaption class="mt-6 mb-6">
                                    <a href="/" title="">javascript权威指南</a>
                                </figcaption>
                            </figure>

                            <figure class="books-item  f-14 pd-16 bg-fff">
                                <a class="m-img" href="" title="">
                                    <img src="{{base_url}}/img/07.jpg" alt="" /></a>
                                <figcaption class="mt-6 mb-6">
                                    <a href="/" title="">javascript权威指南</a>
                                </figcaption>
                            </figure>
                        </div>
                    </section>

                </section>
            </article>

            <aside class="flex-1">
                <!-- 介绍文本 -->
                <section class="notices pd-20 mb-20 bg-fff">
                    <h3 class="m-title border-dashed f-16 row justify-between">chanyue-cms介绍</h3>
                    <p class="mt-10 f-14 lh-24">
                        禅悦内容管理系统，基于`nodejs` `express` `mysql` `knex` `jwt` `vue3`
                        进行开发的一套实用轻量cms系统，且提供丰富的api数据接口。常用企业网站，微信小程序官网，图片网站，新闻资讯，软件下载网站，博客，文章等诸多文章类型网站开发，也适用于前端二次开发。<a
                            href="/" title="">「详情」</a>
                    </p>
                </section>

                <!-- 通知 -->
                <section class="notices pd-20 mb-20 bg-fff">
                    <h3 class="m-title border-dashed f-16 row justify-between">公告通知<span class="more">more</span>
                    </h3>
                    <ul class="mt-10">
                        <li class="f-14 pt-4 pb-4 row justify-between"><a href="" title="">「荐」js实现拍照试卷给出评分和答案</a></li>
                        <li class="f-14 pt-4 pb-4 row justify-between"><a href="" title="">「荐」js把页面转成pdf进行打印</a></li>
                        <li class="f-14 pt-4 pb-4 row justify-between"><a href="" title="">「荐」three.js实现展馆演示厅</a></li>
                        <li class="f-14 pt-4 pb-4 row justify-between"><a href="" title="">「荐」pixi.js小游戏开发实战经验</a></li>
                        <li class="f-14 pt-4 pb-4 row justify-between"><a href="" title="">「荐」基于nodejs实现tts文本转语音</a>
                        </li>
                        <li class="f-14 pt-4 pb-4 row justify-between"><a href=""
                                title="">「荐」js识别声音判断琴谱是否正确，并跟随琴声绘制修改琴谱背景颜色，给出评分和纠错提示</a></li>
                        <li class="f-14 pt-4 pb-4 row justify-between"><a href="" title="">「荐」用canvas+websoket实时绘制心电图实战</a>
                        </li>
                    </ul>
                </section>

                <!-- tag标签 -->
                <section class="notices pd-20 mb-20 bg-fff">
                    <h3 class="m-title border-dashed f-16 row justify-between">tag标签</h3>
                    <p class="mt-10">
                        <a class="el-tag mr-5 mb-5" href="/">nodejs</a>
                        <a class="el-tag mr-5 mb-5" href="/">express</a>
                        <a class="el-tag mr-5 mb-5" href="/">mysql</a>
                        <a class="el-tag mr-5 mb-5" href="/">vue</a>
                        <a class="el-tag mr-5 mb-5" href="/">react</a>
                        <a class="el-tag mr-5 mb-5" href="/">javascript</a>
                        <a class="el-tag mr-5 mb-5" href="/">go</a>
                        <a class="el-tag mr-5 mb-5" href="/">java</a>
                        <a class="el-tag mr-5 mb-5" href="/">python</a>
                        <a class="el-tag mr-5 mb-5" href="/">css</a>
                        <a class="el-tag mr-5 mb-5" href="/">threejs</a>
                        <a class="el-tag mr-5 mb-5" href="/">pixi.js</a>
                        <a class="el-tag mr-5 mb-5" href="/">electron</a>
                    </p>
                </section>

                <!-- tag标签 -->
                <section class="notices pd-20 mb-20 bg-fff">
                    <h3 class="m-title border-dashed f-16 row justify-between">友情链接</h3>
                    <p class="mt-10">
                        <a class="el-tag mr-5 mb-5" href="/">nodejs</a>
                        <a class="el-tag mr-5 mb-5" href="/">express</a>
                        <a class="el-tag mr-5 mb-5" href="/">mysql</a>
                        <a class="el-tag mr-5 mb-5" href="/">vue</a>
                        <a class="el-tag mr-5 mb-5" href="/">react</a>
                        <a class="el-tag mr-5 mb-5" href="/">javascript</a>
                        <a class="el-tag mr-5 mb-5" href="/">go</a>
                        <a class="el-tag mr-5 mb-5" href="/">java</a>
                        <a class="el-tag mr-5 mb-5" href="/">python</a>
                        <a class="el-tag mr-5 mb-5" href="/">css</a>
                        <a class="el-tag mr-5 mb-5" href="/">threejs</a>
                        <a class="el-tag mr-5 mb-5" href="/">pixi.js</a>
                        <a class="el-tag mr-5 mb-5" href="/">electron</a>
                    </p>
                </section>


                <section class="notices pd-20 mb-20 bg-fff">
                    <h3 class="m-title border-dashed f-16 row justify-between">推荐图文</h3>
                    <figure class="row justify-between mt-10 border-dashed">
                        <div class="thumb mb-10"><img class="w-p100" src="{{base_url}}/img/02.jpg" alt="" title=""></div>
                        <div class="flex-1  mb-20">
                            <figcaption class="f-14 ellips-2 bold mt-4 mb-4">JavaScript权威指南</figcaption>
                        </div>
                    </figure>

                    <figure class="row justify-between mt-10 ">
                        <div class="flex-1">
                            <figcaption class="f-14 ellips-2 bold mt-4 mb-4">nodejs实战cms系统开发</figcaption>
                            <p class="f-13 ellips-3"> 近日，因台风“杜苏芮”影响，北京市发布暴雨红色预警。对于雷雨天气，这些“陷阱”要避开！<a href="/"
                                    title="">详情</a></p>
                        </div>
                    </figure>
                </section>

            </aside>
        </div>
    </main>

    <!-- footer -->
    {{include './common/footer.html'}}

    <div class="tags mb-20 mt-20 pd-20">
        <p>全局数据：</p>
        <p class="mb-20">site-> {{site}} </p>
        <p class="mb-20">111-->{{site.json.siteSubtitle}}</p>
        <p class="mb-20">nav-> {{nav}} </p>
        <p class="mb-20">category-> {{category}}</p>
        <p class="mb-20">friendlink-> {{friendlink}}</p>
        <p class="mb-20">base_url-> {{base_url}}</p>
        <p class="mb-20">frag--->{{frag}}</p>
        <p class="mb-20">tag--->{{tag}}</p>
    </div>
    console.log('{{ site.id }}')
    <script src="{{base_url}}/js/vue@3.js"></script>
    <script src="{{base_url}}/js/element-plus.js"></script>
    <script>
       
        
        const app = Vue.createApp({
            data: function () {
                return {
                    drawer: false
                }
            },
            mounted() {
                let _this = this;
                document.querySelector('.ico-open').addEventListener('click', () => {
                    _this.drawer = true
                })
            },
            methods: {
                handleCurrentChange(vue) {

                },

                handleClose() {
                    this.drawer = false
                }
            }
        });
        app.use(ElementPlus);

        app.mount('#app');
    </script>
</body>

</html>