<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{site.name}}-{{site.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    {{include './common/meta.html'}}
    <link rel="stylesheet" href="./css/outline.min.css"/>
</head>


<body class="bg-f8f8f8 pos-r">
    <!-- 头部 -->
    {{include './common/header.html'}}

    <!-- 头条文章 -->
    <main class="bg-f2f2f2 pt-10 pb-20 row">

        <div class="main center mt-10 row gap-20">


            <aside class="flex-1">


                <!-- tag标签 -->
                <section class="notices pos-s pd-20 mb-20 bg-fff" style="top:80px;z-index: 2;">
                    <h3 class="m-title border-dashed f-16 row justify-between">{{navSub.cate.name}}</h3>
                    {{if data.list.length>0}}
                    <ul class="mt-10">
                        {{each data.list}}
                        <li class="f-16 pt-4 pb-4 row bold  pl-10">
                            <a href="{{$value.path}}/article-{{$value.id}}.html"  title="{{$value.title}}">{{$value.title}}</a>
                        </li>
                        {{/each}}
                    </ul>
                    {{/if}}
                </section>


            </aside>

            <!-- 最新文章 -->
            <article class="article-index">
                <!-- <div class="bg-fff radius-6 pd-15 mb-1 f-14 c-999">
                    <i class="ico-20 ico-home pos-r t-3"></i>
                    <a class="" href="" >首页</a> /
                    <a class="c-666" href="" >nodejs开发</a> /
                    express专题
                </div> -->
                <div class="bg-fff radius-6 pd-25">
                    <header class="border-b pos-r">
                        <h2 class="f-26 c-252933  bold mt-10">「关于」关于我们</h2>
                        <p class="f-12 c-999 mt-5 mb-26">
                            <span>
                                <i class="ico-20 ico-time pos-r t-4"></i> 2018-02-22
                                <i class="ico-20 ico-admin pos-r t-4 ml-4"></i> 明空
                                <i class="ico-20 ico-view pos-r t-5 ml-4"></i> 阅读（19604）
                                <i class="ico-20 ico-zan pos-r t-4 ml-4"></i>点赞（95）
                            </span>
                        </p>
                    </header>
                    <article class="article-cont f-17 lh-35">
                        <h2>chanyue-cms 历史</h2>
                        <p>第一次构想2015/6/2 基于express mongoDB开发第一版cms</p>
                        <p>第二次重构（koacms）2018/4/2 基于koa2 mysql重构</p>
                        <p>第三次重构（eggcms）2020/10/1基于egg mysql Sequelize重构</p>
                        <p>第四次重构（chanyue-cms）2022/6/12基于express mysql knex开发第三版，经过多年开发和线上运营，回归最稳定的express。</p>
                        </p>


                        <h2>技术选型说明</h2>

                        <p>问：很多同学问为啥选择express而不是nest或Midway？</p>
                        <p>答：express全球下载量第一，功能超级稳定，相关依赖包众多（所以不选koa2,洋葱皮模型）,依赖包大部分基于JavaScript写的，相对于nest,express更加灵活，轻量。至于为啥不选择eggjs/Midway，怕了，你懂得。
                        </p>
                        <p>问：为啥不选择Sequelize、typeorm或者prisma作为orm框架？**</p>
                        <p>答：knex易用，友好，强大，objection.js都是基于knex开发的。</p>
                    </article>
                </div>
            </article>
        </div>
    </main>


     <!-- footer -->
   {{include './common/footer.html'}}

   <div id="app">
    <el-drawer v-model="drawer" :show-close="false" :with-header="false" :before-close="handleClose">
        {{include './common/wap-nav.html'}}
    </el-drawer>
    <el-backtop :right="100" :bottom="100" />
</div>

{{include './common/js.html'}}
    <script>
        var app = Vue.createApp({
            data: function () {
                return {
                    drawer: false,
                    total: 10
                }
            },
            mounted() {
                let _this = this;
                document.querySelector('.ico-open').addEventListener('click', () => {
                    _this.drawer = true
                })
            },
            methods: {
                handleCurrentChange(vue) {

                },
                handleClose() {
                    this.drawer = false
                }
            }
        });
        app.use(ElementPlus);
        app.mount('#app');
    </script>
</body>

</html>