

<div class="m-mask none">
    <div class="drawer pd-20">
        {{include './search.html'}}
        {{if nav.length>0}}
            <ul class="f-16 mt-20">
                <li><a class="pt-5 pb-5 block" href="/"  title="首页">首页</a></li>
                {{each nav}}
                {{if $value.status == 0}}
                <li>
                    <a class="pt-5 pb-5 block" href="{{$value.path}}/index.html"  title="{{$value.name}}">{{$value.name}}</a>
                    {{if $value.children && $value.children.length>0}}
                    <ul class="pl-16">
                        {{each $value.children}}
                            {{if $value.status == 0}}
                            <li>
                                <a class="pt-5 pb-5 block" href="{{$value.path}}/index.html" 
                                    title="{{$value.name}}">{{$value.name}}
                                </a>
                            </li>
                            {{/if}}
                        {{/each}}
                    </ul>
                    {{/if}}
                </li>
                {{/if}}
                {{/each}}
            </ul>
        {{/if}}
    </div>
</div>
